@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-700.css";
@import "@fontsource/inter/latin-900.css";
@import "@fontsource/urbanist/latin-400.css";
@import "@fontsource/urbanist/latin-500.css";
@import "@fontsource/urbanist/latin-700.css";
@import "@fontsource/urbanist/latin-900.css";
@import "@fontsource/source-code-pro/latin-400.css";
@import "@fontsource/source-code-pro/latin-500.css";
@import "@fontsource/source-code-pro/latin-600.css";

@font-face {
  font-family: FontAwesome;
  src: url("./files/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
